.preferences label:first-child {
  padding-top: 0;
}

.preferences label {
  display: block;
  padding-top: 20px;
}

.preferences input[type=checkbox] { 
  vertical-align: middle; 
  position: relative; 
  bottom: 1px; 
}