body {
  background-color: #F5F5F5;
}

.filters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.graphs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}