html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
  background-color: #261CA6;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

path {
  fill: #2a354d;
}

.App {
  font-family: sans-serif;
  text-align: center;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: olivedrab;
}

li {
  float: right;
}

li a {
  display: block;
  color: #616161;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: arial;
  font-weight: 700;
  size: 24px;
  line-height: 27.6px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #d9d9d9;
}